// COLORS
$white: #fff;
$utorange: #FF8200;
$utlimestone: rgb(240, 237, 228);
$utsmokey: rgb(76, 77, 79);
$uttorch: rgb(230, 89, 51);
$utriver: rgb(81, 124, 150);
$utrock: rgb(138, 140, 143);
$uteureka: rgb(235, 234, 100);
$utswitchgrass: rgb(171, 193, 120);
$utvalley: rgb(0, 116, 111);
$utleconte: rgb(141, 32, 72);
$utsummitt: rgb(185, 225, 226);
$utglobe: rgb(0, 108, 147);
$utsunsphere: rgb(254, 213, 53);
$utregalia: #754A7E;
$offwhite: #fbfbfb;
$lightGrey: #f1f1f1;
$darkGrey: #444;
$red: #e44141;
$green: #76b665;


// Fonts
$fontAwesome: "FontAwesome";
$serif: "Georgia", Times, serif;
$sansSerif: "Helvetica", Arial, sans-serif; 

// BREAKPOINTS
$breakpoints: (
  'small'  : ( min-width:  767px ),
  'medium' : ( min-width:  992px ),
  'large'  : ( min-width: 1200px )
);